@model REWBlogModel.ARTICLES
@{
    ViewBag.Title = "Index";
}

<h2>Publish-Index</h2>
@using (Html.BeginForm("Publish", "Publish", FormMethod.Post))
{
    <span>标题</span>
    @Html.TextBoxFor(x => x.A_NAME)
    <br />
    <span>分类</span>
    @Html.DropDownListFor(x => x.A_TID, (IEnumerable<SelectListItem>)ViewBag.ListOfTypes)
    <br />
    <span>目录</span>
    @Html.TextBoxFor(x => x.A_CATALOG)
    <br />
    <span>内容</span>
    @Html.TextAreaFor(x => x.A_CONTENT)
    <script type="text/javascript">

        ClassicEditor
            .create(document.querySelector('#A_CONTENT'), {
                // toolbar: [ 'heading', '|', 'bold', 'italic', 'link' ]
                language: 'zh-cn',
                ckfinder:
                {
                    uploadUrl : '/Publish/UploadImage'
                }
            })
            .then(editor =>
            {
                window.editor = editor;
            })
            .catch(err =>
            {
                console.error(err.stack);
            });

    </script>
    <br />
    @Html.HiddenFor(x => x.A_DATE, new { @Value = DateTime.Now })
    @Html.HiddenFor(x => x.A_AUTHOR, new { @Value = Context.User.Identity.Name })
    <input type="submit" class="btn-lg" value="发表">

}


